---
version: '3'
services:
  openvpn:
    #image: andy/test1:latest
    #image: archef2000/pivpn:latest
    #image: gitlab.mcdade.uk:5050/andy/dockerreg/pivpn-test:latest 
    image: docker.io/redlegoman/pivpn:latest
    container_name: pivpn
    hostname: pivpn
    ports:
      - 1194:1194/tcp
    volumes:
      - ./openvpn/ovpns:/home/pivpn/ovpns
      - ./openvpn/openvpn:/etc/openvpn
    environment:
      - HOST=117net.co.uk
      - PROTO=tcp # or tcp
      - VPN=openvpn
      - PORT=1195
# optional
      - CLIENT_NAME=pivpn
      - NET=10.8.0.0
      - TWO_POINT_FOUR=1 # or 0 If TWO_POINT_FOUR=0 then ENCRYPT needs to be 2048, 3072, or 4096
      - DNS1=1.1.1.1 # Client DNS
      - DNS2=9.9.9.9 # Client DNS
      - ENCRYPT=256 # 256, 384, or 521 if TWO_POINT_FOUR=0 then ENCRYPT needs to be 2048, 3072, or 4096
    privileged: true # Is needed to run Openvpn
    restart: always
