---
version: '3'
services:
  openvpn:
    image: local_image:latest
    container_name: pivpn
    hostname: pivpn
    ports:
      - 1194:1194/tcp
    volumes:
      - ./openvpn/ovpns:/home/pivpn/ovpns
      - ./openvpn/openvpn:/etc/openvpn
    environment:
      - HOST=example.com
      - PROTO=tcp # or tcp
      - VPN=openvpn
      - PORT=1194
# optional
      - SEARCH=example.com # DNS search for clients
      - CLIENT_NAME=pivpn # or whatever you want to call your user
      - NET=10.8.0.0
      - TWO_POINT_FOUR=1 # or 0 If TWO_POINT_FOUR=0 then ENCRYPT needs to be 2048, 3072, or 4096
      - DNS1=1.1.1.1 # Client DNS
      - DNS2=9.9.9.9 # Client DNS
      - ENCRYPT=256 # 256, 384, or 521 if TWO_POINT_FOUR=0 then ENCRYPT needs to be 2048, 3072, or 4096
    privileged: true # Is needed to run Openvpn
    restart: always
